<div class="header">
    <img class="logo" src="/assets/images/sportspal.png">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="createGame" data-toggle="list" href="#list-home" role="tab"
                    aria-controls="createGame">Create Game</a>
                <a class="list-group-item list-group-item-action" id="yourGames" data-toggle="list" href="#list-profile" role="tab"
                    aria-controls="yourGames">Your Games</a>
                <a class="list-group-item list-group-item-action" id="liveStats" data-toggle="list" href="#list-settings" role="tab"
                    aria-controls="liveStats">Live Stats</a>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Game</th>
                        <th scope="col">Location</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class='row'>
        <div class='col-md-6'>
            <div id="card-stats" class="card">
                <div class="card-body">
                    <p class="card-text-dark"></p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="card-stats" class="card">
                <div class="card-body">
                    <p class="card-text-dark"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        sportspal 2018
    </div>
</div>