body {
    background-image: url("http://3.bp.blogspot.com/-wd9xkyaJG5A/T5hS6ysBraI/AAAAAAAADrE/cPuj7iQJq_Y/s1600/san+002.JPG");
    overflow: auto;
}
.row{
    margin-top:20px;
}
.container {
    color:white;
    /* text-align: center; */
    font-family: 'Acme', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    background:rgba(192,192,192,0.3);
    font-size: 20px;
}
.card {
    color:black;
}
.d-block{
    max-height: 300px;
}
.logo{
    width: 100px;
    margin: 20px;
}
.header{
    width: 100%;
}
.footer{
    color:black;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 8%;
    background:rgba(192,192,192,0.3);
}
.card-img-top{
    width: 200px;
    height:400px;
}
.card-live-stats{
    
}
table{
    overflow: auto;
    color:black;
}