body {
    background-image: url("http://3.bp.blogspot.com/-wd9xkyaJG5A/T5hS6ysBraI/AAAAAAAADrE/cPuj7iQJq_Y/s1600/san+002.JPG");
    overflow: scroll;
}
.row{
    margin-top:20px;
}
.container {
    color:white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    background:rgba(192,192,192,0.3);
}
.card {
    color:black;
}
.d-block{
    max-height: 300px;
}
.logo{
    width: 100px;
    margin: 20px;
}
.header{
    width: 100%;
}
.footer{
    color: white;
    text-align: center;
    /* position: fixed; */
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 8%;
    background:rgba(192,192,192,0.3);
}
#your-game{
    letter-spacing: 2px;
}